.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 60px;
}

.column {
  flex: 50%;
  margin: 20px;
  background-color:#093009;
}

.seasonDiv { cursor: pointer; }